{% load static %}
{% load i18n %}
{% load custom_template_tags %}
{% load humanize %}

<div class="table-container-scrollable">
  <table class="minimal-table">
    <thead>
    <tr>
      <th onclick="sortTable(1, this)">{% translate "Name" %} <span class="sort-arrow">↕</span></th>
      <th onclick="sortTable(2, this)">{% translate "Status" %} <span class="sort-arrow">↕</span></th>
      <th onclick="sortTable(3, this)">{% translate "Last Update" %}<span class="sort-arrow">↕</span></th>
      <th onclick="sortTable(4, this)">{% translate "New Alarms" %}<span class="sort-arrow">↕</span></th>
      <th onclick="sortTable(5, this)">{% translate "Open Alarms" %}<span class="sort-arrow">↕</span></th>
      <th onclick="sortTable(6, this)">{% translate "Daily consumption [kWh]" %}<span class="sort-arrow">↕</span></th>
      <th onclick="sortTable(7, this)">{% translate "Daily generation [kWh]" %}<span class="sort-arrow">↕</span></th>
      <th onclick="sortTable(8, this)">{% translate "Daily discharge [kWh]" %}<span class="sort-arrow">↕</span></th>
      <th onclick="sortTable(9, this)">{% translate "Daily self-consumption [kWh]" %}<span class="sort-arrow">↕</span></th>
      <th onclick="sortTable(10, this)">{% translate "Monitoring URL" %}<span class="sort-arrow">↕</span></th>
      <th onclick="sortTable(11, this)">{% translate "Edit" %}</th>
      <th></th>
    </tr>
    </thead>
    <tbody>
    {% for site in sites %}
    <tr>
      <td>{{ site.name }}</td>
      <td><span class="status-light status-{{ site.status|lower }}"><span style="display:none">{{ site.status }}</span></span></td>
      <td>{{ site.last_update }}</td>
      <td>{{ site.new_alarms }}</td>
      <td>{{ site.open_amarls }}</td>
      <td>{{ site.kpis.consumption_kwh_day|floatformat:2|intcomma }}</td>
      <td>{{ site.kpis.generation_kwh_day|floatformat:2|intcomma }}</td>
      <td>{{ site.kpis.charged_kwh_day|floatformat:2|intcomma }}</td>
      <td>{{ site.kpis.self_consumption_kwh_day|floatformat:2|intcomma }}</td>
      <td>
        <a href="{{ site.monitoring_url }}"
           class="link"
           target="_blank"
           rel="noopener">
          <span class="link-text">Visit</span>
          <span class="link-icon">↗</span>
        </a>
      </td>
      <td>
        {% if site.proj_id %}
        <a class="edit-btn btn btn-primary-small" href="{% url 'steps:project_setup' site.proj_id %}">{% translate "Edit" %}</a>
        {% endif %}
      </td>
    </tr>
    {% endfor %}
    </tbody>
  </table>
</div>
